// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boom{
  background: rgb(34, 41, 50);
}
.cat_show {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1418834508981-6114b37427b8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b6b76071f9cabb3ff04b1246f19c763a');
  width: 100%;
  position: relative;
  margin: 0;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid rgb(37, 30, 35) 5px;
  .cat_title {
    padding-top: 150px;
    font-size: 50px;
    color: rgb(89, 84, 26);
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
}

.cat_prods {
  margin-left: 20px;
   .prod_title {
      margin-bottom: 0;

      a{
      text-decoration: none;
      font-size: 30px;
      color: rgb(89, 84, 26);
      font-family: 'Libre Baskerville', serif;
        &:hover{
          font-style: italic;
          background: rgb(34, 41, 50);
          color: rgb(89, 84, 26);
        }
    }
  }

}

p.mfg {
  margin-top: 0;
  font-size: 10px;
}

#divider {
  margin: 0 auto;
  width: 100%;
}

p {
  color: #919b85;
}

.prod_link a{
  color: rgb(89, 84, 26);
  text-decoration: none;
    &:hover{
      font-style: italic;
      color: rgb(89, 84, 26);
    }
}
