
<!-- <body class="homepage_body">
 -->
<header id="header" class="homepage_header">

  <h1 class="home_title">GoodWhiskers</h1>

</header>

<h3>About GoodWhiskers</h3>
<p class="about">
Hi there, and welcome to GoodWhiskers! We're the best
</p>

<p class="sidebar_nav">
<nav>
<h3>Product Categories</h3>
<ul class="home_nav">
  <% @category.each do  |category| %>
  <li class="nav_links"><%= link_to(category.name, category_path(category.id)) %></a></li>
  <% end %>
  <li class="nav_links"> <%= link_to "All Products", products_path %> </li>

</ul>
</nav>
</p>

<!-- </body>
 -->
