/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway";
  background: #545052;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 3px 10px 3px 10px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] a{
  text-decoration: none;
  color: #C2EFB3;
}

[class*="col-"] a:hover{
  font-size: 15px;
  color: #C2EFB3;
}

.site_nav {
  background: rgb(38, 39, 41);
  color: white;
}

.search_btn {
  color: #C2EFB3;
  background: rgb(38, 39, 41);
}

.stupid_btn input{
  font-family: "Raleway";
  color: black;
  border-radius: 20%;
  background: #C2EFB3;
}

input#search {
  font-family: "Raleway";
}

.right {
  text-align: right;
}

h1 {
  text-align: center;
  font-style: italic;
  font-size: 40px;
}

.homepage_header {
  background: url("http://img.juimg.com/tuku/yulantu/140803/330666-140P3203Q673.jpg");
  background-size: 15%;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.body_text {
  color: #97ABB1;
}

.nav_links {
  list-style-type: none;
}

.nav_links a {
  text-decoration: none;
  color: #C2EFB3;
}

.nav_links a:hover {
  font-size: 15px;
  color: #C2EFB3;
}
