/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.panel-body{
  text-align: center;
}

.title{
  text-align: center;
}
.home_btn {
  color: red;
  padding: 5px 20px;
}

body {
  display: inline;
  padding:0px;
  background-color: rgb(14, 18, 35);
  width: 100%;
}

.search_btn {
  color:#d9b554;
  background-color: #2d3739;
  padding: 5px 20px;
}

.site_nav{
  color: #d9b554;
  background-color: #2d3739;
  /*font-family: 'Shadows Into Light';*/
  font-size: 20px;
  padding: 0px;
}

.site_nav a {
  color: #d9b554;
}

.site_nav.a:visited {
    color: green;
  }

.site_nav.a:hover {
    color: white;
  }

.login_logout {
  text-align: right;
  padding: 5px 20px;
}

/*.footer_bar {
  text-align: center;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow:hidden;
}*/

p.feet {
  font-size: 10px;
}
