// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purple: #644a51  ;
$yellow: #d9b554  ;
$gray: #5f7477  ;
$header-text: 40px;
$header-font: 'Arimo', sans-serif;
$body-text: 25px;
$head-weight:  700;
$body-font: Raleway;
$body-weight: 400;
