// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  background-image: url('http://res.cloudinary.com/goodwhiskers/image/upload/v1458840518/beardbackground_aikc56.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  overflow: visible;
}

.homepage_header {
  // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://res.cloudinary.com/goodwhiskers/image/upload/v1458840518/beardbackground_aikc56.jpg');
  width: 100%;
  position: relative;
  margin: 0;
  height: 80px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // border: 1px grey solid;
    .home_title {
      padding-top: 30px;
      font-size: 40px;
      color: #B5D6B2 ;
      font-family: 'Libre Baskerville', serif;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }
}

.prod_cats {
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.home_nav{
  .nav_links{
    text-decoration: none;
    list-style: none;
  }
}

p{
  display: inline-block;
}

.sidebar_nav {
  width: 200px;
  float: left;
  margin-right: 40px;
  vertical-align: top;
  margin-left: 20px;
    .nav_links a{
      color: #AA9F7E;
      text-decoration: none;
      text-align: left;
      display: table;
    }
}

.about {
  width: 400px;
  vertical-align: top;
  float: left;
}

