body {
  background: url("https://images.unsplash.com/photo-1447783333881-70715fdf7aa3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=da58f084432f5cc312bd4a37e7faa39b");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  overflow: visible;
  margin: 0;
  padding: 0; }

.row.product {
  padding-right: 25px;
  padding-left: 25px; }

.prod_img_main {
  text-align: center; }
  .prod_img_main img {
    width: 50%;
    height: auto;
    position: relative;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat; }

.transbox {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black; }

p#prod_name {
  font-family: "Arimo", sans-serif;
  font-size: 40px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: #644a51;
  margin-top: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.tiny {
  display: block;
  text-align: center;
  color: #d9b554;
  font-family: Raleway; }
  .tiny a {
    color: #5f7477;
    text-decoration: none; }
    .tiny a:hover {
      font-style: italic;
      text-decoration: underline; }

.description {
  margin-left: 10px;
  color: #d9b554;
  font-family: Raleway; }

.below {
  text-align: center;
  display: block; }

.edit_back_link {
  text-align: center; }
  .edit_back_link a {
    text-decoration: none;
    color: #5f7477;
    font-family: Raleway; }
    .edit_back_link a:hover {
      font-style: italic;
      text-decoration: underline;
      color: #5f7477; }

.review-link {
  margin-left: 30px; }
  .review-link a {
    text-decoration: none;
    color: #5f7477;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
    .review-link a:hover {
      font-style: italic;
      text-decoration: underline;
      color: #5f7477; }

.review-title {
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 40px;
  color: #644a51;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.indv-title {
  color: #644a51;
  font-size: 30px;
  font-family: Raleway;
  margin-bottom: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 5px; }

.subhead {
  font-size: 9px;
  margin-left: 5px; }

.review-text {
  margin-left: 5px;
  color: #d9b554;
  font-family: Raleway; }

.rating-text {
  text-align: center;
  color: #644a51;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 5px; }

.title {
  color: #644a51;
  font-family: "Arimo", sans-serif;
  font-size: 40px; }

.panel {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #d9b554; }
  .panel a {
    text-decoration: none;
    color: #d9b554; }

.prod_img {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 5px;
  color: white; }

.heading {
  text-align: center;
  font-size: 40px;
  color: #644a51;
  font-family: "Arimo", sans-serif; }

/*# sourceMappingURL=products.css.map */
