// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: red;
}

.grid-item-product {
  color:red;
}

 .prod_img img{
  width: 100%;
  position: relative;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

p#prod_name{
  // font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.tiny {
  display: block;
  text-align: center;
}

.description {
  margin-left: 10px;
}

.below {
  text-align: center;
  display: block;
}

.edit_back_link{
  text-align: center;
    a {
      text-decoration: none;
      color: rgb(89, 84, 26);
        &:hover{
          font-style: italic;
          color: rgb(89, 84, 26);
        }
    }
}
