<%= stylesheet_link_tag params[:controller] %>

<h1 class="title">New Product</h1>

  <%= cloudinary_js_config %>
  <%= render 'form' %>
  <div class="btn btn-success back-btn">
    <%= link_to 'Back to Home', home_index_path %>
  </div>
